header.major
    h2 About
    span.byline The team behind the Northwest Balboa Festival
div.row
    div.4u
        a.image(href='#')
            img(src='/images/placeholder.png')
        include:markdown ../contents/about/andrew.md
    div.4u
        a.image(href='#')
            img(src='/images/placeholder.png')
        include:markdown ../contents/about/jennifer.md
    div.4u
        a.image(href='#')
            img(src='/images/placeholder.png')
        include:markdown ../contents/about/sherman.md
