header.major
    h2 About
    span.byline The team behind the Northwest Balboa Festival
div.row
    div.3u
        a.image()
            img(src='/images/andrew.jpg' width="100%")
        include:markdown ../contents/about/andrew.md
    div.3u
        a.image()
            img(src='/images/jennifer.jpg' width="100%")
        include:markdown ../contents/about/jennifer.md
    div.3u
        a.image()
            img(src='/images/sherman.jpeg' width="100%")
        include:markdown ../contents/about/sherman.md
    div.3u
        a.image()
            img(src='/images/brenda.jpg' width="100%")
        include:markdown ../contents/about/brenda.md
