doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='description' content="Balboa dancing in the Pacific Northwest! Join us May 13-15, 2016 in Seattle for dancing, classes, and one of the best dance communities in the world.")
        title= locals.title
        link(rel='icon', type='image/png', href='/images/icon.png')
        script(type='text/javascript', src='/js/jquery.min.js')
        script(type='text/javascript', src='/js/skel.min.js')
        script(type='text/javascript', src='/js/skel-layers.min.js')
        script(type='text/javascript', src='/js/init.js')
    body(class=homepage)
        // Header Wrapper
        div.wrapper.style1
            div.wrapper.style1.bg

            // Header
            div#header
                div.container
                    // Nav
                    nav#nav
                        ul
                            li
                                a(href='index.html') Home
                            li
                                a(href='#registration') Registration
                            li
                                a(href='#schedule') Schedule/Venues
                            li
                                a(href='#instructors') Instructors
                            li
                                a(href='#music') Music
                            li
                                a(href='#travel') Travel/Lodging
                            li
                                a(href='#about') About
                            li
                                a(href='#footer') Contact Us

            // Banner
            div#banner
                section.container
                    img(src='/images/2016_logo.png', width='80%')
                    span
                        b Seattle, WA
                    p
                        b May 13-15, 2016

        // Registration
        div.wrapper.style2#registration
            section.container
                div.button_holder
                    a.button(href="#") Registration Opens January 3
                include ./registration.jade

        // Schedule
        div.wrapper.style4#schedule
            section.container
                header.major
                    h2 Schedule
                include ./schedule.jade
                include ./venues.jade

        // Instructors
        div.wrapper.style3#instructors
            section.container
                include ./instructors.jade

        // Music
        div.wrapper.style4#music
            section.container
                include ./music.jade

        // Travel/Lodging
        div.wrapper.style2#travel
            section.container
                include ./travel.jade

        // About
        div.wrapper.style5#about
            section#team.container
                include ./about.jade

        // Contact Us
        div#footer
            section.container
                include ./contact_us.jade

