doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='description' content="The Pacific Northwest's newest Balboa event! Join us May 1-3, 2015 in Seattle for dancing, classes, and one of the best dance communities in the world.")
        title= locals.title
        link(rel='icon', type='image/png', href='/images/icon.png')
        script(type='text/javascript', src='/js/jquery.min.js')
        script(type='text/javascript', src='/js/skel.min.js')
        script(type='text/javascript', src='/js/skel-layers.min.js')
        script(type='text/javascript', src='/js/init.js')
    body(class=homepage)
        // Header Wrapper
        div.wrapper.style1

            // Header
            div#header
                div.container
                    // Nav
                    nav#nav
                        ul
                            li
                                a(href='index.html') Home
                            li
                                a(href='#registration') Registration
                            li
                                a(href='#schedule') Schedule/Venues
                            li
                                a(href='#instructors') Instructors
                            li
                                a(href='#music') Music
                            li
                                a(href='#about') About
                            li
                                a(href='#footer') Contact Us

            // Banner
            div#banner
                section.container
                    img(src='/images/nwbalfest_logo.png', width='80%')
                    span Seattle, WA
                    p May 1-3, 2015

        // Registration
        div.wrapper.style2#registration
            section.container
                div.button_holder
                    a.button(href="http://nwbalfest.dancecamps.org/booking.php") Registration is open
                include ./registration.jade

        // Schedule
        div.wrapper.style4#schedule
            section.container
                header.major
                    h2 Schedule
                include ./schedule_friday.jade
                include ./schedule_saturday.jade
                include ./schedule_sunday.jade
                include ./venues.jade

        // Instructors
        div.wrapper.style3#instructors
            section.container
                include ./instructors.jade

        // Music
        div.wrapper.style4#music
            section.container
                include ./music.jade

        // About
        div.wrapper.style5#about
            section#team.container
                include ./about.jade

        // Contact Us
        div#footer
            section.container
                include ./contact_us.jade

