doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= locals.title
        link(rel='icon', type='image/png', href='/res/icon.png')
        script(type='text/javascript', src='/js/jquery.min.js')
        script(type='text/javascript', src='/js/skel.min.js')
        script(type='text/javascript', src='/js/skel-layers.min.js')
        script(type='text/javascript', src='/js/init.js')
    body(class=homepage)
        // Header Wrapper
        div.wrapper.style1

            // Header
            div#header
                div.container
                    // Logo

                    // Nav
                    nav#nav
                        ul
                            li
                                a(href='index.html') Home
                            li
                                a(href='#registration') Registration
                            li
                                a(href='#') Schedule
                            li
                                a(href='#') Instructors
                            li
                                a(href='#') Music
                            li
                                a(href='#') About
                            li
                                a(href='#') Contact Us

            // Banner
            div#banner
                section.container
                    img(src='res/nwbalfest_logo.png', width='80%')
                    span Seattle, WA
                    p May 1-3, 2015

        // Section One
        div.wrapper.style2#registration
            section.container
                != page.html
