header.major
    h2 Instructors

div
    h2 Chelsea and David Lee
    h4 Washington, D.C.
    p
        img(src="/images/david_chelsea.jpg" alt="David_Chelsea")
        p Since 2007 David and Chelsea Lee have crafted a partnership dedicated to teaching and dancing Lindy Hop, Balboa, and Collegiate Shag. They are known for their enthusiasm, musicality, and creativity on and off the dance floor, and they excel at breaking down mechanics in a way that is accessible and empowering to dancers of all levels and learning styles.

        p Their dance accomplishments include placements in Lindy Hop, Balboa, and Collegiate Shag at events such as All Balboa Weekend, the International Lindy Hop Championships, and Lindy Focus. They teach all the different styles of swing dance locally as well as at national and international events. They can’t wait to see you on the floor!

div
    h2 Angie Weddell and Matthew Lam
    h4 Vancouver, B.C.
    p
        img(src="/images/matt_angie.jpg" alt="Matt_Angie")
        p Angie and Matt both live in the Rain City of America's Hat. While originally from the USA, Angie went on vacation to Canada and for some reason never left. Matt hails from Surrey, for which there is no excuse. However, he does bring the Northwest Balboa Festival's doctor-count up to 3.

        p By day, they both work as engineers. By night, they sit on the board of the #[a(href="http://vanswingsociety.wix.com/vanswingsociety") Vancouver Swing Society], a non-profit organization that also hosts the #[a(href="http://vanswingsociety.wix.com/vanswingsociety#!balboa-mini-fest/c14mt") Balboa Mini-Fest] — one of the original inspirations for this event. Showcasing fun, musical, and technical dancing, Angie and Matt are sure to bring a good time.

div
    h2 Jennifer Reed and Matthew Mitchell
    h4 Austin, TX
    p
        img(src="/images/matt_jen.jpg" alt="Matt_Jen, image by A. Popov")
        p Jennifer learned her first rock steps a long, long time ago from Valerie Salstrom and Joel Plys in her hometown of Cleveland, Ohio. After a foray into West Coast Swing and sparkly clothes, Jennifer returned to Balboa and Lindy Hop and began dancing competitively in 2010. Her most recent achievement is winning the Open Couples contest at Music City Shuffle with her husband Matt. When she's not traveling to events, teaching Balboa classes in Austin, or coaching the Capitol City Feetwarmers (Matt and Jen's dance team), you can find her writing technical documentation for Apple and researching pickups for her fantasy football team.

        p Since 1998, Matt has been honing his dance skills; starting with East Coast, he quickly moved into Lindy Hop and other Swing-era dances--with a very short detour into Ballroom. He's studied with top Lindy Hop and Balboa contemporaries as well being influenced by the original greats (Frankie Manning, Dean Collins, Maxie Dorf and Willy Desatoff). From 2007 through 2011, he was one of the lead instructors for Get Hep Swing (assisting the incomparable Valerie Salstrom) and helped choreograph Hustle and award winning Swing routines. He strives to bring solid fundamentals and just-the-right amount of connection to Lindy Hop and Balboa, while creating room for musicality and playfulness. In 2011, he relocated to his home town of Austin where he's enjoyed teaching Lindy Hop and Balboa for Four on the Floor, and is a contributing instructor for BalAustin. He's happy to be wrangling the talented group of DJs Austin is lucky enough to have at the Swing Syndicate.

        p Nationally and internationally, Matt has been an instructor at Boogie By The Bay, the Eastern Balboa Championships, Dance Renaissance, and the Canadian Balboa Championships. He competes regularly in Balboa, consistently making the finals and has several placements at ABW, EBC, Canadian Balboa Championships, ILHC, California Balboa Championships, Music City Shuffle, Empire City Swings, and Camp Hollywood.

        p He was also a stand-in for Kevin Bacon in Footloose. In his free time, he enjoys woodworking and coaching the Capitol City Feetwarmers with his wife Jen Reed.

