header.major
    h2 Instructors

div
    h2 Jennifer Lee and Jeremy Otth
    h4 Kirkland, WA and Los Angeles, CA
    p
        p Jennifer Lee has been making a lot of noise in the Global Balboa scene by taking first place at such events as Lindy Focus, The Snowball, California Balboa Classic, and All Balboa Weekend to name a few.

        p Jeremy amassed a great amount of knowledge on the historic essence of vintage swing dances from many of the original jitterbuggs and swing dancers. Along with his seemingly inexhaustible amount of energy, Jeremy’s natural talent and dedication led him to accumulate championship titles at many acclaimed dance competitions such as the International Lindy Hop Championships, National Jitterbug Championships, American Classic Balboa Championships and the US Open Swing Dance Championships. Jeremy is now able to share that breadth of knowledge and passion for these classic partner dances by entertaining and educating feet from Southern California to around the world.

div
    h2 Corey and Susan Manke
    h4 Nashville, TN
    p
        img(src="/images/manke.jpg" alt="Corey and Susan")
        p Corey and Susan Manke are Balboa and Swing dancers from Nashville, Tennessee. While Lindy Hop was their first passion, they soon discovered their true love of Balboa in 2004 fascinated with its connection, rhythms and partnering. They have spent over a decade studying the dance with many international instructors. 

        p Corey and Susan are particularly drawn to the aesthetic, connection and feel of the original dancers. They strive to implement these elements into their own dance style and reference these dancers in their teaching in order to preserve the original dancers’ contribution to the dance floor.

        p They have been participants of The Balboa Experiment every year since 2010, where they have been students, served as Guest Mentors, awarded “Honorary Fellows” and became "Distinguished Fellows" in 2016. Corey and Susan have been instructors at California Balboa Classic, All Balboa Weekend, Bal-ast Off, Eastern Balboa Championships, Minor Swing and invited to teach at other regional, national and international events. Corey and Susan have received placements at All Balboa Weekend, Bal-Ast Off and are regular finalists in several national competitions. However, they enjoy the aspect of social dancing the most.

div
    h2 Taylor Stender and Travis Whetman
    h4 Seattle, WA
    p
        img(src="/images/taylor.jpg" alt="Taylor and Travis")
        p Taylor has found a way to dance most of her life.  In the last several years she has been broadening her Balboa through travel and being active in the bubbling scene in Seattle.  She has had the opportunity to spread the joy of shuffling locally and throughout the Pacific Northwest for the past 8 years.  If Taylor isn't twirling on the dance floor, she is twirling the hair of anyone who will sit still in front of her, all while amassing more shoes than common sense.

        p Travis has been teaching and performing Balboa, Lindy Hop, and Charleston in the Pacific Northwest for over 10 years. When he's not on the dance floor, you'll often find him in the DJ booth playing the best Balboa music from the Swing Era.  Travis believes in empowering dancers to find their own style and being creative so that they can have a unique presence on the dance floor.  Travis has two cats named Muggsy and Pops, likes pizzadillas (think about it), and enjoys winding down by catching reruns of Frasier.
