header.major
    h2 Instructors

h2 Chelsea and David Lee
p
    img(src="/images/david_chelsea.jpg" alt="David_Chelsea")
    p Since 2007 David and Chelsea Lee have crafted a partnership dedicated to teaching and dancing Lindy Hop, Balboa, and Collegiate Shag. They are known for their enthusiasm, musicality, and creativity on and off the dance floor, and they excel at breaking down mechanics in a way that is accessible and empowering to dancers of all levels and learning styles.

    p Their dance accomplishments include placements in Lindy Hop, Balboa, and Collegiate Shag at events such as All Balboa Weekend, the International Lindy Hop Championships, and Lindy Focus. They teach all the different styles of swing dance locally as well as at national and international events. They can’t wait to see you on the floor!

h2 Angie Weddell and Matthew Lam
p
    p Coming from the Great White North, with more details coming soon!
