header.major
    h2 Instructors

h2 Chelsea and David Lee
h4 Washington, D.C.
p
    img(src="/images/david_chelsea.jpg" alt="David_Chelsea")
    p Since 2007 David and Chelsea Lee have crafted a partnership dedicated to teaching and dancing Lindy Hop, Balboa, and Collegiate Shag. They are known for their enthusiasm, musicality, and creativity on and off the dance floor, and they excel at breaking down mechanics in a way that is accessible and empowering to dancers of all levels and learning styles.

    p Their dance accomplishments include placements in Lindy Hop, Balboa, and Collegiate Shag at events such as All Balboa Weekend, the International Lindy Hop Championships, and Lindy Focus. They teach all the different styles of swing dance locally as well as at national and international events. They can’t wait to see you on the floor!

h2 Angie Weddell and Matthew Lam
h4 Vancouver, B.C.
p
    img(src="/images/matt_angie.jpg" alt="Matt_Angie")
    p Angie and Matt both live in the Rain City of America's Hat. While originally from the USA, Angie went on vacation to Canada and for some reason never left. Matt hails from Surrey, for which there is no excuse. However, he does bring the Northwest Balboa Festival's doctor-count up to 3.

    p By day, they both work as engineers. By night, they sit on the board of the #[a(href="http://vanswingsociety.wix.com/vanswingsociety") Vancouver Swing Society], a non-profit organization that also hosts the #[a(href="http://vanswingsociety.wix.com/vanswingsociety#!balboa-mini-fest/c14mt") Balboa Mini-Fest] — one of the original inspirations for this event. Showcasing fun, musical, and technical dancing, Angie and Matt are sure to bring a good time.

h2 Jennifer Reed and Matthew Mitchell
h4 Austin, TX
p
    p Coming soon!
