header.major
    h2 Instructors
include:markdown ../contents/instructors/chris_beth.md

table
    tr
        td
            include:markdown ../contents/instructors/yoshi.md
        td
            include:markdown ../contents/instructors/taylor.md
    tr
        td
            include:markdown ../contents/instructors/travis.md
        td
            include:markdown ../contents/instructors/robin.md
