header.major
    h2 Instructors

div
    h2 Jennifer Lee and Augie Freeman
    h4 Seattle, WA and Los Angeles, CA
    p
        img(src="/images/jenn_augie.jpg" alt="Jennifer_Augie")
        p Hailing from the West Coast these two combine traditional Balboa aesthetics with a contemporary approach to partnering. Jennifer Lee has been making a lot of noise in the Global Balboa scene by taking first place at such events as Lindy Focus, The Snowball, California Balboa Classic, and All Balboa Weekend to name a few.

        p Augie Freeman has been traveling and dancing since 2003 and is in 2012 was inducted into the California Swing Dance Hall of Fame. Together they bring a light-hearted atmosphere to the classroom as well as a focus on partner dynamics & connection, great movement, and playful ideas.

div
    h2 Desiree Roffers
    h4 Chicago, IL
    p
        img(src="/images/desiree.jpg" alt="Desiree")
        p Desiree has loved dancing her whole life. At the age of four, she began Irish Dance. Soon after, she was competing around the country and started teaching dance in early middle school. Around 2002, Desiree switched her focus to swing dancing and began studying Lindy Hop, Blues, and Balboa. Desiree continues to travel to swing dance events around the country to learn and compete. She has studied extensively with the top balboa dancers in the world including a few of the original balboa dancers. She has received awards from Emerald City Shuffle, Eastern Balboa Championship, California Balboa Classic, Southern Swing Challenge, Hot Rhythm Holiday, Music City Shuffle, and All Balboa Weekend.

        p Desiree especially loves balboa because of its circular momentum, close connection, and intricate footwork. In 2011, Desiree started Chicago Balboa Underground, an organization dedicated to the promotion of balboa in Chicago. Desiree has a Masters Degree in Education and can be found teaching balboa throughout Chicago and at balboa events across the country. She runs a monthly balboa dance in Chicago and a weekly practice group dedicated to self directed learning, peer teaching, experimentation, and community building. When she is not shuffling across the dance floor, she enjoys scavenger hunts, murder mystery parties, trapeze, and aerial yoga.

div
    h2 Yoshi Uemura
    h4 Seattle, WA
    p
        img(src="/images/yoshi.jpg" alt="Yoshi")
        p Yoshi Uemura originally hails from Japan and currently lives in Seattle. He moved to US as a grad student and found swing dancing aroYoshi-230x300und 2000 when he lived in NYC. He walked by Midsummer Night Swing Festival at Lincoln Center and was so inspired by the energy of the people dancing outdoor at 90F in summer in Manhattan.  Two weeks later, he started taking lessons.

        p Shortly after he moved to Seattle in 2001, where he continued to dance with several performance teams, Yoshi took his first Balboa lesson (2003).  Ever since, he has continued to learn from the original dancers and many great Balboa dancers all over the world, and developed his own, unique style. Even after many years, his focus is still on connection and flow with a partner, and precise and rhythmical footwork. He regularly teaches in Seattle, other cities in US, and internationally to share his passion for swing dances, helping to grow the communities.

div
    h2 Angie Weddell and Matthew Lam
    h4 Vancouver, B.C.
    p
        img(src="/images/matt_angie.jpg" alt="Matt_Angie")
        p Angie and Matt both live in the Rain City of America's Hat. While originally from the USA, Angie went on vacation to Canada and for some reason never left. Matt hails from Surrey, for which there is no excuse. However, he does bring the Northwest Balboa Festival's doctor-count up to 3.

        p By day, they both work as engineers. By night, they sit on the board of the #[a(href="http://vanswingsociety.wix.com/vanswingsociety") Vancouver Swing Society], a non-profit organization that also hosts the #[a(href="http://vanswingsociety.wix.com/vanswingsociety#!balboa-mini-fest/c14mt") Balboa Mini-Fest] — one of the original inspirations for this event. Showcasing fun, musical, and technical dancing, Angie and Matt are sure to bring a good time.
