header.major
    h2 Music

#music
  div.music
    div
      h2 Slipped Disc
      p Slipped Disc plays the dynamic, swinging music of 1940s-era small group jazz. Influenced by the Benny Goodman Sextet and Artie Shaw’s Gramercy Five, this ensemble features a front-line trio of clarinet, vibraphone and guitar over tight and swinging rhythm. Since 2008, the Vancouver-based group has been delighting listeners and dancers alike with their unique blend of simple, catchy swing riffs, driving rhythms, and tight ensemble arrangements.

  div.music
    div
      h2 DJ Taylor Stender
      img(src="/images/taylor_dj.jpg" alt="Taylor" width="250px")
      p While Taylor's love for jazz predates her dance obsession, she found her passion when  the two came together.  Hailing (or should we say "raining") from Seattle, Taylor has been DJing regionally and locally since 2013. She takes joy in creating the best possible dance environment through song selection and loves to keep shoes a shuffling with up-tempo tunes.  When Taylor is behind the table you will be sure to hear songs from her favorite artists: Jimmie Lunceford, Count Basie, and Sidney Bechet. She enjoys interacting with dancers while she DJs; so if you like what you hear come talk music, if you don't like what you hear you can always talk about shoes.

  div.music
    div
      h2 DJ Travis Whetman
      img(src="/images/travis_dj.jpg" alt="Travis" width="250px")
      p Travis fell in love with swing music early in his dancing life and has been collecting it ever since.  A regular Seattle DJ since 2003, Travis focuses on swing music from the 1930s and 1940s and is comfortable playing songs for many styles of dance including the Charleston, Lindy Hop, Balboa, and Blues.  Away from Seattle Travis has been a featured DJ at events like Lindy Focus, All Balboa Weekend, Herrang Dance Camp, Rocky Mountain Balboa Blowout, and Camp Hollywood.
