header.major
    h2 Music

#music
  h2 Slipped Disc
  p
      p Slipped Disc plays the dynamic, swinging music of 1940s-era small group jazz. Influenced by the Benny Goodman Sextet and Artie Shaw’s Gramercy Five, this ensemble features a front-line trio of clarinet, vibraphone and guitar over tight and swinging rhythm. Since 2008, the Vancouver-based group has been delighting listeners and dancers alike with their unique blend of simple, catchy swing riffs, driving rhythms, and tight ensemble arrangements.
