header.major
    h2 Music

h2 Head DJ
p
    img(src="/images/dan.jpg" alt="Dan")
    Daniel Newsome is a jazz music and dance enthusiast from Seattle, Washington. Daniel played music for dancers 3 nights a week at the Mercury Cafe in Denver for over 8 years, where he built a substantial music collection and perfected his style of DJing which is to play a large variety of music, always looking for rare and amazing tunes. He loves Rockabilly, Blues of all styles, Soul, Gospel, Jazz of all kinds and Gypsy music, but his strongest love is for 30s and 40s Swing, played hot. Daniel can be found DJing the occasional exchanges, LindyGroove, or venues around Seattle. His favorite thing to do is the keep the floor packed and brings music that inspires improvisation, party atmosphere and fun for all levels of dancers.
