header.major
    h2 Music

#music
  h2 Greg Ruby Quintet
  p
      img(src="/images/greg.jpg" alt="Greg")
      p Composer and guitarist Greg Ruby is a distinctive voice in the Hot Club jazz tradition. His 2010 CD, Look Both Ways, celebrated the 100th birthday of gypsy jazz guitarist Django Reinhardt with 12 original compositions, and reached #1 on the Roots Music Review’s jazz chart. His compositions have appeared in both television and documentaries including NBC’s Parks and Recreation.  As a former member of the group, Pearl Django, Greg spent five years performing and touring throughout the United States, Canada and Europe and appeared with the group at the prestigious Django Reinhardt Festival in Samois sur Seine, France. As founding member of the hot jazz string band, Hot Club Sandwich, Greg can be heard on all four of the band’s recordings and produced their 2010 release, And If Only, featuring legendary vocalist Dan Hicks.  In 2014, he received an funding from King County’s 4Culture to create and record new work for a prohibition era Jazz dance band.  The project was debuted at Seattle’s historic Washington Hall during the 2014 Seattle Lindy Exchange.  Currently, he leads his own group The Greg Ruby Quintet, collaborates with New York and New Orleans musicians on a project called The Rhythm Runners, and performs European cafe jazz with the Bric-a-brac Musette Trio.

  h2 DJ Travis Whetman
  p
      img(src="/images/travis.jpg" alt="Travis" style="block")
      p Travis has been DJing in Seattle for over 15 years and has recently been a featured DJ at All Balboa Weekend, Rocky Mountain Balboa Blowout, Music City Shuffle, and Camp Balboa Seattle.  Playing a wide variety of artists, Travis always keeps the floor shuffling.

      p Also the consummate dancer, make sure to catch him on the floor when he's not in the DJ booth!
