p
a(href="https://www.facebook.com/events/1845153799130220/" style="text-align: center")
    h3 Join the Facebook Event!
div
    include:markdown ../contents/registration/registration_center.md
p
div.row.double
    div.4u
        include:markdown ../contents/registration/registration_left.md
    div.4u
        include:markdown ../contents/registration/registration_middle.md
    div.4u
        include:markdown ../contents/registration/registration_right.md

p
h3 Tracks
div.row
    div.6u
        include:markdown ../contents/registration/beginner_track.md
    div.6u
        include:markdown ../contents/registration/learner_track.md
div.row
    div.6u
        include:markdown ../contents/registration/improver_track.md
    div.6u
        include:markdown ../contents/registration/perfecter_track.md
p
h3 Competition
div
    include:markdown ../contents/registration/registration_bottom.md
