p
a(href="https://www.facebook.com/events/1574368442795310/" style="text-align: center")
    h3 Join the Facebook Event!
div
    include:markdown ../contents/registration/registration_center.md
p
div.row.double
    div.6u
        include:markdown ../contents/registration/registration_left.md
    div.6u
        include:markdown ../contents/registration/registration_right.md
p
h3 Tracks
div.row
    div.4u
        include:markdown ../contents/registration/beginner_track.md
    div.4u
        include:markdown ../contents/registration/intermediate_track.md
    div.4u
        include:markdown ../contents/registration/master_track.md
