header.major
    h2 Schedule
div.row.flush
    div.4u
        include:markdown ../contents/schedule/friday.md
    div.4u
        include:markdown ../contents/schedule/saturday.md
    div.4u
        include:markdown ../contents/schedule/sunday.md

header.major(style='padding-top:50px')
    h2 Venues
div.row
    div.3u
        header.major
            span.byline Eastside Stomp at Aria Ballroom
            a(href="https://goo.gl/maps/hGzsr") 15300 Northeast 95th Street, Redmond
    div.3u
        header.major
            span.byline Century Ballroom
            a(href="https://goo.gl/maps/nlP8z") 915 East Pine Street
    div.3u
        header.major
            span.byline OmCulture
            a(href="https://goo.gl/maps/Nia1V") 2210 North Pacific Street
    div.3u
        header.major
            span.byline Location TBD
