div.row.flush
    h2 Friday
    div(style="text-align: center; width: 100%")
        h3 Evening Dance: Salsa Con Todo
        ul
            li
                strong 9pm-12am
            li Check in and Registration opens at 830pm
            li Invitational Competition at 11pm
            li
                em $15 Cover for non-pass holders

div.row.flush(style="background-color: #F5F5F5")
    h2 Saturday
    div(style="text-align: center; width: 100%")
        h3 Classes
        ul
            li
                strong 12pm-430pm
            li Instructors and Venues TBD
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Absolute Beginners
    //        li
    //            strong 12pm-2pm
    //        li Angie Weddell and Matt Lam
    //        li
    //            em Lowdown Ballroom
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Learners
    //        li
    //            strong 12pm-2pm
    //        li Desiree Roffers and Yoshi Uemura
    //        li
    //            em Side Room at Russian Community Center
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Improvers
    //        li
    //            strong 12pm-2pm
    //        li Jennifer Lee and Augie Freeman
    //        li
    //            em Main Hall at Russian Community Center
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Perfecters
    //        li
    //            strong 3pm-4pm
    //        li Jennifer Lee and Augie Freeman
    //        li
    //            em Side Room at Russian Community Center

    div(style="text-align: center; width: 100%")
        h3 Guided Practice: Russian Community Center
        ul
            li
                strong 2pm-4pm
            li
                em $2 Cover for non-pass holders

    div(style="text-align: center; width: 100%")
        h3 Evening Dance: Russian Community Center
        ul
            li
                strong 830pm-1230am
            li
                strong Live Music!
            li Competition at 1030pm
            li
                em $20 Cover for non-pass holders

div.row.flush
    h2 Sunday
    div(style="text-align: center; width: 100%")
        h3 Classes
        ul
            li
                strong 12pm-330pm
            li Instructors and Venues TBD
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Absolute Beginners
    //        li
    //            strong 12pm-2pm
    //        li Angie Weddell and Matt Lam
    //        li
    //            em Lowdown Ballroom
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Learners
    //        li
    //            strong 12pm-2pm
    //        li Jennifer Lee and Augie Freeman
    //        li
    //            em Side Room at Russian Community Center
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Improvers
    //        li
    //            strong 12pm-2pm
    //        li Desiree Roffers and Yoshi Uemura
    //        li
    //            em Main Hall at Russian Community Center
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Perfecters
    //        li
    //            strong 2pm-3pm
    //        li Jennifer Lee and Augie Freeman
    //        li
    //            em Main Hall at Russian Community Center
    //div.3u
    //    ul
    //        li
    //            strong
    //                u Perfecter B
    //        li
    //            strong 2pm-3pm
    //        li Desiree Roffers and Yoshi Uemura
    //        li
    //            em Side Room at Russian Community Center

    div(style="text-align: center; width: 100%")
        h3 Afternoon Dance
        ul
            li
                strong 4pm-7pm
            li
                Venue TBD
            li
                em $5 Suggested Donation
            li Surprise Competition at 530pm (Free!)

    div(style="text-align: center; width: 100%")
        h3 Evening Dance: Century Ballroom
        ul
            li
                strong 930pm-1230am
            li
                em(style="color: red") Not Included with Weekend Pass
            li
                em(style="color: red") $9 Cover
