h2 Saturday
div.row.flush
    div.4u
        ul
            li
                strong 1pm-3pm
            li
                em Century Ballroom
    div.4u
        ul
            li
                u Learner Classes
            li Chris and Beth Grover
            li
                em West Hall
    div.4u
        ul
            li
                u Improver Classes
            li Yoshi Uemura and Taylor Stender
            li
                em Century Ballroom
div.row.flush(style="background-color: #F5F5F5")
    div.4u
        ul
            li
                strong 3pm-4pm
            li
                em Century Ballroom
    div.4u
        ul
            li
                u Guided Practice
            li
                em $2 Cover for non-pass holders
div.row.flush
    div.4u
        ul
            li
                strong 4pm-5pm
            li
                em Century Ballroom
    div.4u
        ul
            li
                u Perfecter Classes
            li Chris and Beth Grover
            li
                em Century Ballroom
div.row.flush(style="background-color: #F5F5F5")
    div.4u
        ul
            li
                strong 9pm-130am
            li
                em OmCulture
    div.4u
        ul
            li
                u Evening Dance
            li Live Music with the Greg Ruby Quintet!
            li Pro-Am Jack-n-Jill at 1030pm
            li
                em Door pricing for the public TBD
