h2 Friday
div.row.flush(style="background-color: #F5F5F5")
    div.4u
        ul
            li
                strong 9pm-1am
            li
                em Eastside Stomp at Aria Ballroom
    div.4u
        ul
            li
                u Evening Dance
            li Check in and Registration
            li Live Music with Some Band Here!
            li
                em $12 Cover for non-pass holders

