div.row.flush
    h2 Friday
    div(style="text-align: center; width: 100%")
        h3 Evening Dance: Eastside Stomp at Aria Ballroom
        ul
            li
                strong 9pm-1am
            li Check in and Registration
            li Live Music!
            li Invitational Jack-n-Jill at 11pm
            li
                em $12 Cover for non-pass holders

div.row.flush(style="background-color: #F5F5F5")
    h2 Saturday
    div(style="text-align: center; width: 100%")
        h3 Classes
        br
    div.3u
        ul
            li
                strong
                    u Absolute Beginners
            li
                strong 1015am-1215am
            li Angie Weddell and Matt Lam
            li
                em Venue will be emailed to students directly
            br
            li
                strong 1230pm-1pm
            li Beginner's Coffee
            li
                em Century Ballroom
    div.3u
        ul
            li
                strong
                    u Learners
            li
                strong 11am-1pm
            li Chelsea and David Lee
            li
                em West Hall at Century Ballroom
    div.3u
        ul
            li
                strong
                    u Improvers
            li
                strong 11am-1pm
            li Jennifer Reed and Matt Mitchell
            li
                em Century Ballroom
    div.3u
        ul
            li
                strong
                    u Perfecters
            li
                strong 2pm-3pm
            li Chelsea and David Lee
            li
                em West Hall at Century Ballroom

    div(style="text-align: center; width: 100%")
        h3 Guided Practice: Century Ballroom
        ul
            li
                strong 1pm-3pm
            li
                em $2 Cover for non-pass holders

    div(style="text-align: center; width: 100%")
        h3 Evening Dance: Omculture
        ul
            li
                strong 830pm-1am
            li Live Music with Greg Ruby!
            li Pro-Am Jack-n-Jill at 1030pm
            li
                em $20 Cover for non-pass holders

div.row.flush
    h2 Sunday
    div(style="text-align: center; width: 100%")
        h3 Classes
        br
    div.3u
        ul
            li
                strong
                    u Absolute Beginners
            li
                strong 1230pm-230pm
            li Angie Weddell and Matt Lam
            li
                em Venue will be emailed to students directly
    div.3u
        ul
            li
                strong
                    u Learners
            li
                strong 1230pm-230pm
            li Jennifer Reed and Matt Michell
            li
                em West Hall at Century Ballroom
    div.3u
        ul
            li
                strong
                    u Improvers
            li
                strong 12pm-2pm
            li Chelsea and David Lee
            li
                em Century Ballroom
    div.3u
        ul
            li
                strong
                    u Perfecters
            li
                strong 2pm-3pm
            li Chelsea and David Lee
            li
                em Century Ballroom

    div(style="text-align: center; width: 100%")
        h3 Afternoon Dance: amber
        ul
            li
                strong 4pm-7pm
            li Hosted by #[a(href="https://www.facebook.com/BalboaHappyHour/") Balboa Happy Hour]
            li
                em $5 Suggested Donation
            li Fast Feet Strictly at 530pm (Free!)

    div(style="text-align: center; width: 100%")
        h3 Evening Dance: Century Ballroom
        ul
            li
                strong 930pm-1230am
            li
                em(style="color: red") Not Included with Weekend Pass
            li
                em(style="color: red") $9 Cover
