h2 Sunday
div.row.flush
    div.4u
        ul
            li
                strong 10am-12pm
            li
                em Century Ballroom
    div.4u
        ul
            li
                u Learner Classes
            li Travis Whetman and Robin Nunnally
            li
                em West Hall
    div.4u
        ul
            li
                u Improver Classes
            li Chris and Beth Grover
            li
                em Century Ballroom
div.row.flush(style="background-color: #F5F5F5")
    div.4u
        ul
            li
                strong 12pm-1pm
            li
                em Century Ballroom
    div.4u
        ul
            li
                u Perfecter Classes
            li Chris and Beth Grover
            li
                em Century Ballroom
div.row.flush
    div.4u
        ul
            li
                strong 2pm-5pm
            li
                em Location TBD
    div.4u
        ul
            li
                u Afternoon Dance
            li Afternoon Tea Dance with Some Band Here!
            li
                em Free, $5 suggested donation
div.row.flush(style="background-color: #F5F5F5")
    div.4u
        ul
            li
                strong 930pm-1230am
            li
                em Century Ballroom
    div.4u
        ul
            li
                u Evening Dance
            li DJ Travis Whetman!
            font(color="red")
                li
                    em Not Included with Weekend Pass
                li
                    em $8 Cover
