header.major
    h2 Travel/Lodging

div.row.double
    div.6u
        h3 Seattle-Tacoma International Airport (SEA)
        p The only airport in the area is Seattle-Tacoma International Airport. From SeaTac, there is a #[strong #[a(href="http://www.soundtransit.org/Rider-Guide/Popular-destinations/Airport-service") Sound Transit Light Rail]] which runs approximately every 10 minutes, with a fare of $3. Don't forget to buy your ticket before you get on the platform! With a new station on Capitol Hill, you can get within 5 blocks of our classes venue with just one ride!

        h3 Transportation
        p Once you have arrived in Seattle, there are many options for getting around town. If you choose to take public transit, #[strong #[a(href="http://metro.kingcounty.gov/") King County Metro]] has excellent bus service around town. Their website also has a trip planner. #[strong #[a(href="http://onebusaway.org/") One Bus Away]] is a must-have app, giving real-time and scheduled arrival information for busses in the Puget Sound Area. Alternatively, #[strong #[a(href="https://www.lyft.com/") Lyft]] and #[strong #[a(href="https://www.uber.com/") Uber]] have strong ride-share presences in Seattle.

        p There's free street parking on Sunday; on Saturday there's a variety of paid lots nearby all of our venues. Pay attention to the posted signage, street parking is normally limited to 2 hours!

    div.6u
        h3 Lodging
        p #[strong #[a(href="https://www.airbnb.com/s/Seattle--WA") Airbnb]] has a strong presence in Seattle, with many different options throughout town. In past years, many dancers have successfully booked with them. You could even stay on a houseboat!

        p The #[strong #[a(href="https://broadway.silvercloud.com/irm/irm.html?g=NWBALFES&o=broadway18") Silver Cloud Broadway]] has also offered a 10% discount for reservations. Either click the link, or give them a call at #[strong 206.325.1400] and ask for the #[strong NWBALFES] group rate.
          li $201.50/night King Bed, $210.50/night Two Queen Beds
          li Arrival: 5/3/2018
          li Departure: 5/7/2018
          li On-site Parking: $30/night

        p Additionally, many amazing Seattle dancers have agreed to open their homes for those traveling from out of town. We welcome you to request housing when registering for the event, and will reach out to you at least three weeks before the event starts with details of your arrangements. In the case that we are unable to accomodate everyone who has requested housing, we will notify those affected with ample time to make other arrangements.
