header.major
    h2 Travel/Lodging

div.row.double
    div.6u
        h3 Seattle-Tacoma International Airport (SEA)
        p The only airport in the area is Seattle-Tacoma International Airport. From SeaTac, there is a #[strong #[a(href="http://www.soundtransit.org/Rider-Guide/Popular-destinations/Airport-service") Sound Transit Light Rail]] which runs approximately every 10 minutes, with a fare of $3. Don't forget to buy your ticket before you get on the platform! With a new station on Capitol Hill, you can get within 5 blocks of our classes venue with just one ride!

        h3 Transportation
        p Once you have arrived in Seattle, there are many options for getting around town. If you choose to take public transit, #[strong #[a(href="http://metro.kingcounty.gov/") King County Metro]] has excellent bus service around town. Their website also has a trip planner. #[strong #[a(href="http://onebusaway.org/") One Bus Away]] is a must-have app, giving real-time and scheduled arrival information for busses in the Puget Sound Area. Alternatively, #[strong #[a(href="https://www.lyft.com/") Lyft]] and #[strong #[a(href="https://www.uber.com/") Uber]] have strong ride-share presences in Seattle.

        p While there's free street parking on Sunday, on Saturday definitely consider the #[strong #[a(href="http://www.seattlecentral.edu/transportation/") Harvard Garage]] at Seattle Central Community College. Just a couple blocks away from the Century Ballroom, parking is only $5 until 4pm!

        //p Many local residents get around the city only with a combination of the options listed above. #[strong #[a(href="http://www.groupcarpool.com/t/dq8wv0") We also created a carpool list!]] If you're a local, please consider offering rides!

    div.6u
        h3 Lodging
        p Many amazing Seattle dancers have agreed to open their homes for those traveling from out of town. We welcome you to request housing when registering for the event, and will reach out to you at least two weeks before the event starts with details of your arrangements. In the case that we are unable to accomodate everyone who has requested housing, we will notify those affected with ample time to make other arrangements.

        p If you'd like the privacy of your own space, we have secured a small discount  at the #[strong #[a(href="http://www.silvercloud.com/seattlebroadway/") Silver Cloud Broadway Hotel]], with the following details:
        ul
            li Rate: $209 Single King, $219 Double Queen
            li Arrival: 5/19/2015
            li Departure: 5/21/2015
            li On-site Parking: $30/night

        p This rate can be obtained by visting their website and reserving a room using #[strong NWBALFES] as the Group ID and Password, or visiting the following #[strong #[a(href="https://broadway.silvercloud.com/irm/irm.html?g=NWBALFES&o=BROADWAY17") link]].

        p Alternatively, #[strong #[a(href="https://www.airbnb.com/s/Seattle--WA") airbnb]] has a strong presence in Seattle, with many different options throughout town. You could even stay on a houseboat!
