header.major(style='padding-top:50px')
    h2 Venues
div.row
    div.4u
        header.major
            span.byline Salsa Con Todo
            a(href="https://goo.gl/maps/izwfGjVTo9D2") 211 N 36th St
    div.4u
        header.major
            span.byline Russian Community Center
            a(href="https://goo.gl/maps/T5JzFV6TUn32") 704 19th Avenue East
    div.4u
        header.major
            span.byline Lowdown Ballroom
            a(href="https://goo.gl/maps/MjnfkhsAwiC2") 628 11th Avenue East
