header.major(style='padding-top:50px')
    h2 Venues
div.row
    div.3u
        header.major
            span.byline Velocity Dance Center
            a(href="https://goo.gl/maps/jWEit67UvNH2") 1621 12th Avenue
    div.3u
        header.major
            span.byline Russian Community Center
            a(href="https://goo.gl/maps/T5JzFV6TUn32") 704 19th Avenue East
    div.3u
        header.major
            span.byline Lowdown Ballroom
            a(href="https://goo.gl/maps/MjnfkhsAwiC2") 628 11th Avenue East
    div.3u
        header.major
            span.byline China Harbor
            a(href="https://goo.gl/maps/ZiC8h3Fird62") 2040 Westlake Avenue N
